.expansion-panel {
    // width: 115%;
    background-color: azure;
}

.table-header {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.mat-header-cell {
    font-size: 18px;

}

.mat-figure {
    // display: block !important;
    // justify-content: flex-start !important ;
    // align-items: flex-start !important;
    // position: unset !important;
 }

 .mat-grid-tile {
    padding-top: 2px !important;
    
 }

.panel-title {
    font-weight: 600;
    font-size: 16px;
}

 .mat-table {
    background-color: white;
 }
 
.expansion-figure {
    // display: block;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // height: 90%;
}


table {
    width: 100%;
}
