.expansion-panel {
    // width: 115%;
    background-color: azure;
}

.table-header {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}

.mat-header-cell {
    font-size: 18px;
    background-color: azure;
    font-weight: bold;
}

.mat-cell {
    font-size: 15px;
}

.mat-grid-list {
    height: 100%;
}

 .mat-grid-tile {
    padding-top: 2px !important;
    overflow: visible;
    
 }

.panel-title {
    font-weight: 600;
    font-size: 16px;
}

 .mat-table {
    background-color: white;
 }
 

.mat-stroked-button {
    border-color: transparent;
}


table {
    width: 100%;
}
