<mat-grid-list cols="10" [gutterSize]="'5px'">
    <mat-grid-tile colspan="2">
        <mat-expansion-panel class="expansion-panel" *ngFor="let database of databases" expanded>
            <mat-expansion-panel-header>
                <mat-panel-title class="panel-title">{{database.databaseName}}</mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let collection of database.collections">
                <button mat-stroked-button (click)="clickedExpansionPanelItem(database.databaseName, collection)">
                    <span>{{collection}}</span>
                </button>
            </div>
        </mat-expansion-panel>
    </mat-grid-tile>
    <mat-grid-tile colspan="8">
        <p class="table-header">{{selectedCollection}}</p>
        <mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container *ngFor="let column of columns" [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef> 
                    {{column}}
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                          <div *ngFor="let algorithmName of algorithmNames">
                            <button mat-menu-item (click)="clickMenuItem(algorithmName)">
                                <span>{{algorithmName}}</span>
                              </button>
                          </div>
                      </mat-menu> 
                </mat-header-cell>
                <mat-cell *matCellDef="let object"> {{object[column]}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
    </mat-grid-tile>
</mat-grid-list>