.login-wrapper {
    height: 90%;
}

.login-wrapper .login-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
}

.login-wrapper .btn-block {
    width: 100%;
}

.login-wrapper .login-full-width {
    width: 100%;
    margin-bottom: 15px;
}

.login-password-icon {
    font-size: 25px;
}

.login-wrapper .login-form-icon {
    font-size: 100px;
    margin-left: 75px;
}

.login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
}

.login-wrapper .mat-card {
    margin-top: 200px;
    padding: 40px 70px 50px;
    background-color: lightblue;
}

.login-wrapper .mat-card::before {
    background-color: transparent;
}

.login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #fff7fa;
}

.login-wrapper .mat-stroked-button.mat-accent {
    color: lightblue;
}

.login-wrapper .mat-stroked-button.mat-accent span{
    color: black;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
}



