<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSideNavigationClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/databases">
        <mat-icon>preview</mat-icon> <span class="nav-caption">Databases</span>
    </a>
    <a mat-list-item routerLink="/algorithms">
        <mat-icon>more_vert</mat-icon> <span class="nav-caption">Algorithms</span>
    </a>
    <a mat-list-item routerLink="/import">
        <mat-icon>import_export</mat-icon> <span class="nav-caption">Import</span>
    </a>
</mat-nav-list>