/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: whitesmoke;
}


.mat-figure {
    position: unset !important;    
    display: block !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}